#body-registerfamily {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    /* object-fit: cover; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}