@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
    }
}

.anuncio{
    background-color: lighten($gris, 5); //lighten($gris, 5) -->aclara un pocp el color 
    border: 1px solid darken($gris, 10);

    .contenido-anuncio{
        padding: 2rem;
    }
    h3, p{
        margin: 0;
    }
    
}

.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;

}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    max-width: 40rem;
    display: flex;
    // justify-content: space-evenly;
    
    li{
        flex: 1; //le damos una fraccion a cada uno de los elemtos de Li
        display: flex;
        img{
            flex: 0 0 5rem;
        }
        p{
            font-weight: $black;
            
        }
    }
}