.btn_login{
    background-color: rgba(145, 141, 141, 0.301);
    padding:.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.formulario{
    display: block;
    margin: 0 auto;
}
.form-cont input{
    border-radius: 5px;
    padding:3px;
    border-color:rgb(88, 87, 87);
}