.no-webp .inicio{
    background-image: url(../img/header_dog2.jpg);

}
.webp .inicio{
    background-image: url(../img/header_dog2.webp);
}
.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{ // se le pone el "&" porque tanto la clase heder como inicio tienen el mismo nivel

        
        @include tablet{
            background-position: center center;
            background-size: cover;//toma todo el espacio
            min-height: 70rem;
            
        }
        .contenido-header{
            @include tablet{
                background-position: center center;
                background-size: cover;//toma todo el espacio
                min-height: 70rem;
                
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    

    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}

